body{
    background: url('@/assets/body_bg.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    text-align: center;
}
h1, h2, ul, li, p, h4, label{
    color: white;
}
